*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.DS_Store
.externalNativeBuild
.cxx
local.properties
webscrape/congif.py
serviceKey.json
node_modules
.expo
